::-webkit-input-placeholder {
	color: yellow;
}

:-moz-placeholder { /* Firefox 18- */
	color: yellow;
}

::-moz-placeholder { /* Firefox 19+ */
	color: yellow;
}

:-ms-input-placeholder {
	color: yellow;
}

.aui-button-primary a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important;
}

.mousehovernone a:hover{
	text-decoration: none !important;
}